.t2-container {
    width: 360px;
    margin: 0 auto;
}

.fieldset {
    border-radius: 4px;
        stroke-width: 1px;
        stroke: #808080;
        border-radius: 4px;
        min-width: 360px;
        height: 64px;
        padding: 0;
        margin: 0;
}

.input-t2 {
    min-width: 360px;
        height: 40px;
        margin-bottom: 0;
}

.button-t2 {
    border-radius: 8px;
        padding: 8px 16px;
        width: 360px;
        height: 40px;
        margin-top: 24px;
        border: none;
        background-color: #4e75ff;
        font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0.04em;
            color: #fff;
}

.button-t2:hover {
    background-color: #6c8cff;
}